.carousel
  .container
    h1.carousel__title expire
    p.carousel__desc Professionaly designed, carefully made for your enjoyement
    .carousel__button
      button explore
      button learn more
