.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-line {
  width: 50%;
  height: 40px;
  background-color: white;
  position: absolute;
  top: -40px;
  left: 0;

  &:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    right: -30px;
    top: 12px;
    background-color: inherit;
    transform: rotate(45deg);
  }
}
